# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
gateway-common/src/main/resources/
gateway-manage/src/test/
gateway-record/src/test/
